<mjml>
    <mj-head>
        <mj-title>REFONTE 36h immo vente région</mj-title>
        <mj-attributes>
            <mj-all font-family='Arial' />

            <!--CLASS-->
            <mj-class name='apercu' align='center' font-weight='bolder' color='#9B9B9B' font-size='9px' line-height='12px' />

            <mj-class name='center' align='center' />
            <mj-class name='right' align='right' />
            <mj-class name='left' align='left' />

            <!--FONT_STYLE-->
            <mj-class name='maj' text-transform='uppercase' />
            <mj-class name='bolder' font-weight='bolder' />
            <mj-class name='bold' font-weight='bold' />
            <mj-class name='light' font-weight='light' />

            <!--FONT_COLOR-->
            <mj-class name='fsi-8' font-size='8px' />
            <mj-class name='fsi-9' font-size='9px' />
            <mj-class name='fsi-10' font-size='10px' />
            <mj-class name='fsi-12' font-size='12px' />
            <mj-class name='fsi-14' font-size='14px' />
            <mj-class name='fsi-16' font-size='16px' />
            <mj-class name='fsi-18' font-size='18px' />
            <mj-class name='fsi-20' font-size='20px' />
            <mj-class name='fsi-22' font-size='22px' />
            <mj-class name='fsi-24' font-size='24px' />
            <mj-class name='fsi-26' font-size='26px' />
            <mj-class name='fsi-28' font-size='28px' />
            <mj-class name='fsi-30' font-size='30px' />
            <mj-class name='fsi-32' font-size='32px' />
            <mj-class name='fsi-34' font-size='34px' />
            <mj-class name='fsi-36' font-size='36px' />
            <mj-class name='fsi-38' font-size='38px' />
            <mj-class name='fsi-40' font-size='40px' />

            <!--LINE_HEIGHT-->
            <mj-class name='lh-14' line-height='14px' />
            <mj-class name='lh-16' line-height='16px' />
            <mj-class name='lh-18' line-height='18px' />
            <mj-class name='lh-20' line-height='20px' />
            <mj-class name='lh-22' line-height='22px' />
            <mj-class name='lh-24' line-height='24px' />
            <mj-class name='lh-26' line-height='26px' />
            <mj-class name='lh-28' line-height='28px' />
            <mj-class name='lh-30' line-height='30px' />
            <mj-class name='lh-32' line-height='32px' />
            <mj-class name='lh-34' line-height='34px' />
            <mj-class name='lh-36' line-height='36px' />
            <mj-class name='lh-38' line-height='38px' />
            <mj-class name='lh-40' line-height='40px' />

            <!--BG Color-->
            <mj-class name='bg-white' background-color='#ffffff' />
            <mj-class name='bg-Dgrey' background-color='#495057' />
            <mj-class name='bg-Lgrey' background-color='#f8f9fa' />
            <mj-class name='bg-grey' background-color='#ededed' />

            <!--Font Color-->
            <mj-class name='f-white' color='#ffffff' />
            <mj-class name='f-body' color='#f8f9fa' />
            <mj-class name='f-black' color='#000000' />
            <mj-class name='f-grey' color='#495057' />
            <mj-class name='f-pink' color='#F83996' />

            <!--padding-->
            <mj-class name='p0' padding='0' />
            <mj-class name='pt05' padding='5px 0 0 0' />
            <mj-class name='pt10' padding='10px 0 0 0' />
            <mj-class name='ptb10' padding='10px 0 10px 0' />
            <mj-class name='p10' padding='10px' />
            <mj-class name='pt20' padding='20px 0 0 0' />
            <mj-class name='ptb15' padding='15px 0 15px 0' />
            <mj-class name='ptb20' padding='20px 0 20px 0' />
            <mj-class name='ptb30' padding='30px 0 30px 0' />
            <mj-class name='ptb40' padding='40px 0 40px 0' />
            <mj-class name='p20' padding='20px' />
            <mj-class name='pb10' padding='0 0 10px 0' />
            <mj-class name='pb20' padding='0 0 20px 0' />


            <!--BORDER-->
            <mj-class name='border' border='2px solid #F83996' />


        </mj-attributes>

    </mj-head>

    <mj-body>
        <mj-container mj-class='bg-grey'>

            <!--HEADER-->
            <!--========================
HEADER 36h-immo Vente Région
=========================-->

            <!--APERCU-->
            <mj-section mj-class='p0'>
                <mj-column width='100%' mj-class='p0'>
                    <mj-text mj-class='pb0 fsi-10 center lh-14 f-grey'>
                        Statistiques du site de votre office notarial <br><a href='##_lienmiroir_##' style='color: #495057;'>consultez la version en ligne</a>
                    </mj-text>
                </mj-column>
            </mj-section>

            <mj-section mj-class='bg-white' background-url='./images/bg-statistiques.jpg' padding-bottom='60px' padding-top='0'>
                <mj-column width='100%' vertical-align='middle'>
                    <mj-image src='./images/LOGO_NS_GROUPE-Sans-baseline.png' alt='logo Notariat Services' width='200%'/>
                    <mj-text mj-class='f-white center fsi-30 pt20 bolder'>
                        Vos statistiques sont disponibles !
                    </mj-text>
                </mj-column>


                <mj-section mj-class='bg-white p0 borderT borderR borderL'>
                    <mj-column width='100%'>
                        <mj-text mj-class='fsi-16 p10'>
                            Bonjour,
                        </mj-text>
                        <mj-text  mj-class='fsi-16 pt10 lh-20 p10'>
                            Veuillez trouver ci-dessous le lien de consultation des statistiques du site internet de votre office notarial.
                        </mj-text>
                    </mj-column>
                </mj-section>
                <mj-section mj-class='bg-white p0 borderR borderL'>
                    <mj-column width='100%'>
                        <mj-button
                                mj-class='bg-white f-pink maj fsi-18 bolder border'
                                width='100%'
                                href='#'>
                            Je consulte les statistiques ►
                        </mj-button>
                    </mj-column>
                </mj-section>
                <mj-section mj-class='bg-white p0 borderT borderR borderL'>
                    <mj-column width='100%'>
                        <mj-text  mj-class='fsi-16 pt10 lh-20 p10'>
                            Vous retrouverez le nombre et l’évolution des sessions, des pages vues, des utilisateurs, leur provenance, les appareils utilisés, les pages les plus consultées pour le mois dernier et depuis le début de l’année.
                        </mj-text>
                        <mj-text  mj-class='fsi-16 pt10 lh-20 p10'>
                            Ce rapport vous permet de modifier les dates afin de consulter les périodes que vous souhaitez.
                        </mj-text>
                        <mj-text  mj-class='fsi-16 pt10 lh-20 p10'>
                            Nous restons à votre entière disposition.
                        </mj-text>
                        <mj-text  mj-class='fsi-16 pt10 lh-20 p10'>
                            Bien cordialement,
                        </mj-text>
                    </mj-column>
                </mj-section>
                <mj-section mj-class='bg-white p0 borderT borderR borderL'>
                    <mj-column width='100%'>
                        <mj-text  mj-class='fsi-16 pt10 lh-20 p10'>
                            L’équipe de Notariat Services
                        </mj-text>
                    </mj-column>
                </mj-section>
                <!--CONTACT-->

                <mj-section mj-class='p10'>
                </mj-section>
                <mj-section mj-class='bg-white p0'>
                    <mj-column mj-class='pt20'>
                        <mj-image
                                href='mailto:info@immonot.com?subject=Les statistiques du site internet de mon office'
                                src='./images/contact/mail.png'
                                alt='caracteristique du bien'
                                width='40%'
                                mj-class='center' />
                        <mj-button
                                mj-class='bg-white f-grey fsi-16 center lh-24'
                                href='mailto:info@immonot.com?subject=Les statistiques du site internet de mon office'>
                            info@immonot.com
                        </mj-button>
                    </mj-column>
                    <mj-column mj-class='pt20'>
                        <mj-image
                                src='./images/contact/phone.png'
                                href='tel:0555738000'
                                alt='localisation du bien'
                                width='35%' />
                        <mj-button
                                mj-class='bg-white f-grey fsi-16 center lh-24'
                                href='tel:0555738000'>
                            05 55 73 80 00
                        </mj-button>
                    </mj-column>
                </mj-section>

                <!--FOOTER-->
                <!--========================
       FOOTER 36h-immo Vente Région
       =========================-->

                <!-- RESEAUX SOCIAUX -->
                <mj-section>
                    <mj-group>
                        <mj-column width='20%'>
                            <mj-image href='https://www.facebook.com/immonot/?hc_ref=ARSCQuWtGcnF7nXVCVVq6m3MusAZAoMtxvYerecuKUmnx9J_gFGVc_49hJT9yq4PtOA&fref=nf' width='50px' src='./images/social/facebook_L-Grey.png' alt='facebook.fr' align='center'></mj-image>
                        </mj-column>
                        <mj-column width='20%'>
                            <mj-image href='https://plus.google.com/u/0/s/immonot/top' width='50px' src='./images/social/google-Grey.png' alt='google.com' align='center'></mj-image>
                        </mj-column>
                        <mj-column width='20%'>
                            <mj-image href='https://www.instagram.com/immonot_immobilier/' width='50px' src='./images/social/Instagram-Grey.png' alt='instagram.com' align='center'></mj-image>
                        </mj-column>
                        <mj-column width='20%'>
                            <mj-image href='https://twitter.com/immonot' width='50px' src='./images/social/twitter_L-Grey.png' alt='twitter.com' align='center'></mj-image>
                        </mj-column>
                        <mj-column width='20%'>
                            <mj-image href='https://www.youtube.com/user/TVimmonot' width='50px' src='./images/social/Youtube_L-Grey.png' alt='youtube.com' align='center'></mj-image>
                        </mj-column>
                    </mj-group>7
                </mj-section>
                <!-- DESINSCRIPTION -->
                <mj-section>
                    <mj-column>
                        <mj-text mj-class='pb0 fsi-10 center lh-14 f-grey'>
                            Conform&eacute;ment &agrave; l\'article 34 de la loi Informatique
                            et Libert&eacute;, vous disposez d'un droit d'acc&egrave;s,
                            <br/> de modification et de suppression des donn&eacute;es qui
                            vous concernent.
                        </mj-text>
                        <mj-text mj-class='pb0 fsi-10 center lh-14 f-grey'>
                            Si vous ne souhaitez plus recevoir de messages de la part de
                            Notariat Services, <br/> vous pouvez vous d&eacute;sabonner
                            <a style='color:#46A0FF;' href='##_unsuscribe_##'>en suivant ce lien</a>
                        </mj-text>
                    </mj-column>
                </mj-section>
        </mj-container>
    </mj-body>
</mjml>