<template>
  <div>

        <main class="flex-1 relative z-0 overflow-y-auto pt-2 pb-6 focus:outline-none md:py-6" tabindex="0">
          <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <h1 class="text-2xl font-semibold text-gray-900">Gestion des campagnes
            </h1>
          </div>
          <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
            <!-- Replace with your content -->
            <div class="py-4">
              <div class="flex flex-col">
                <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
                  <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
                    <table class="min-w-full">
                      <thead>
                      <tr >
                        <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                          Identifiant
                        </th>
                        <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                          Libellé
                        </th>
                        <th class="px-6 py-3 border-b border-gray-200 bg-gray-50"></th>
                        <th class="px-6 py-3 border-b border-gray-200 bg-gray-50"></th>
                      </tr>
                      </thead>
                      <tbody class="bg-white">
                      <tr v-for="(campagne, index) in campagnes" :key="campagne.id">
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 font-medium text-gray-900">
                          {{ campagne.id }}
                        </td>
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
                          {{ campagne.libelle }}
                        </td>
                        <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
                          <nuxt-link :to="{name: 'campagne-id', params : {id: campagne.id}}"  class="text-indigo-600 hover:text-indigo-900">Editer la campagne
                          </nuxt-link>

                        </td>
                        <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
                          <a href="#"  class="text-indigo-600 hover:text-indigo-900" @click="deleteCampagne(index, campagne.id)">Supprimer la campagne</a>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- /End replace -->
          </div>
        </main>
      </div>
</template>

<script>
  export default {

    methods : {
      deleteCampagne: function(index, id) {
           this.$axios.delete(`http://localhost:5656/campagne/${id}`).then(value => {
             this.campagnes.splice(index, 1);
             this.$toasted.success("La campagne à bien été supprimée", {duration: 5000});
           }).catch();
      }
    },
    asyncData ({ params, error, $axios }) {
      return $axios.get(`http://localhost:5656/campagnes`)
        .then((res) => {
          return { campagnes: res.data }
        })
        .catch((e) => {
          error({ statusCode: 404, message: 'Post not found' })
        })
    }
  }
</script>

<style>

</style>
