<template>
  <div>
    <main class="flex-1 relative z-0 overflow-y-auto pt-2 pb-6 focus:outline-none md:py-6" tabindex="0">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h1 class="text-2xl font-semibold text-gray-900">Gestion de la campagne {{campagne.libelle}}
        </h1>

      </div>
      <div class="flex content-center text-center flex-wrap">
        <button class="mt-4 mb-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" v-on:click="updateData">Sauvegarder</button>
      </div>
      <div class="" id="gjs" v-html="campagne.template">

      </div>
    </main>
  </div>
</template>
<style>

</style>
<script>

  export default {
    head () {
      return {
        title: this.title,
        meta: [
          // hid est utilisé comme identifiant unique. N'utilisez pas `vmid` car ça ne fonctionnera pas
          { hid: 'description', name: 'description', content: 'Ma description personnalisée' }
        ],
        link: [
          { rel: 'stylesheet', href: 'https://cdnjs.cloudflare.com/ajax/libs/grapesjs/0.15.9/css/grapes.min.css' }
        ]
      }
    },
    data() {
      return {
        editor: ""
      }
    },
    mounted() {
      const grapejs = require("grapesjs")
      const grapejsmjml = require("grapesjs-mjml")
      this.editor = grapejs.init({
        fromElement: 1,
        storageManager: { type: null },
        container : '#gjs',
        avoidInlineStyle : false,
        plugins: [grapejsmjml],
        pluginsOpts: {
          [grapejsmjml]: {}
        }
      });

    },
    methods: {
      updateData: function () {

        this.$axios.put(`http://localhost:5656/campagne/${this.$route.params.id}`, {
          template : this.editor.getHtml()

        })
          .then((res) => {
            this.$toasted.success("La campagne à bien été mise jour", {duration: 5000});
            return { campagne: res.data }
          })
          .catch((e) => {
            console.log(e)
          })
      }
    },
    asyncData ({params, error, $axios }) {

      return $axios.get(`http://localhost:5656/campagne/${params.id}`)
        .then((res) => {

          return { campagne: res.data }
        })
        .catch((e) => {
          error({ statusCode: 404, message: 'Post not found' })
        })
    }
  }
</script>
