<template>
  <div>
    <main class="flex-1 relative z-0 overflow-y-auto pt-2 pb-6 focus:outline-none md:py-6" tabindex="0">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h1 class="text-2xl font-semibold text-gray-900">Ajout d'une nouvelle campagne
        </h1>
      </div>
      <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
        <!-- Replace with your content -->
        <div class="py-4">
          <div class="flex flex-col">

              <div>
                <div class="mt-8 border-t border-gray-200 pt-8 sm:mt-5 sm:pt-10">
                  <div>
                    <h3 class="text-lg leading-6 font-medium text-gray-900">
                     Ajouter une nouvelle campagne
                    </h3>
                  </div>
                  <div class="mt-6 sm:mt-5">
                    <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                      <label for="first_name" class="block text-sm font-medium leading-5 text-gray-700 sm:mt-px sm:pt-2">
                        Libellé de la campagne
                      </label>
                      <div class="mt-1 sm:mt-0 sm:col-span-2">
                        <div class="max-w-lg rounded-md shadow-sm sm:max-w-xs">
                          <input v-model="libelle" id="first_name" class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5" />
                        </div>
                      </div>
                    </div>

                    <button v-on:click="addCampagne" type="submit" class="py-2 px-3 border border-gray-300 rounded-md text-sm leading-4 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out">
                      Ajouter
                    </button>
                  </div>
                </div>
              </div>

          </div>
        </div>
        <!-- /End replace -->
      </div>
    </main>
  </div>
</template>
<style>

</style>

<script>
  export default {
    data() {
      return {
        'libelle' : ''
      }
    },

    methods : {
      addCampagne : function() {
        this.$axios.post(`http://localhost:5656/campagne`, {
          template : `
<mjml>
    <mj-head>
        <mj-title>REFONTE 36h immo vente région</mj-title>


    </mj-head>

    <mj-body>
        <mj-container mj-class="bg-grey">

            <!--HEADER-->



            <mj-section mj-class="bg-white p0 borderT borderR borderL">
                <mj-column width="100%">
                    <mj-text mj-class="fsi-16 p10">
                        Bonjour,
                    </mj-text>
                    <mj-text  mj-class="fsi-16 pt10 lh-20 p10">
                        Veuillez trouver ci-dessous le lien de consultation des statistiques du site internet de votre office notarial.
                    </mj-text>
                </mj-column>
            </mj-section>
            <mj-section mj-class="bg-white p0 borderR borderL">
                <mj-column width="100%">
                    <mj-button
                        mj-class="bg-white f-pink maj fsi-18 bolder border"
                        width="100%"
                        href="#">
                        Je consulte les statistiques ►
                    </mj-button>
                </mj-column>
            </mj-section>
            <mj-section mj-class="bg-white p0 borderT borderR borderL">
                <mj-column width="100%">
                    <mj-text  mj-class="fsi-16 pt10 lh-20 p10">
                        Vous retrouverez le nombre et l’évolution des sessions, des pages vues, des utilisateurs, leur provenance, les appareils utilisés, les pages les plus consultées pour le mois dernier et depuis le début de l’année.
                    </mj-text>
                    <mj-text  mj-class="fsi-16 pt10 lh-20 p10">
                        Ce rapport vous permet de modifier les dates afin de consulter les périodes que vous souhaitez.
                    </mj-text>
                    <mj-text  mj-class="fsi-16 pt10 lh-20 p10">
                        Nous restons à votre entière disposition.
                    </mj-text>
                    <mj-text  mj-class="fsi-16 pt10 lh-20 p10">
                        Bien cordialement,
                    </mj-text>
                </mj-column>
            </mj-section>
            <mj-section mj-class="bg-white p0 borderT borderR borderL">
                <mj-column width="100%">
                    <mj-text  mj-class="fsi-16 pt10 lh-20 p10">
                        L’équipe de Notariat Services
                    </mj-text>
                </mj-column>
            </mj-section>
                <!--CONTACT-->

        </mj-container>
    </mj-body>
</mjml>
          `,
          libelle: this.libelle

        })
          .then((res) => {
            this.$toasted.success("La campagne à bien été crée", {duration: 5000});

            this.$router.push(`/campagne/${res.data.id}`)
          })
          .catch((e) => {
            console.log(e)
          })
      }

      }

  }
</script>

